modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[nix]
packages = ["gh"]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GIT_URL = "https://boweazy:$SFS_PAT@github.com/boweazy/DataScrapeInsights"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
